body {
    background-color: darkslategrey;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .joke {
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .btn {
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #008CBA;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #006F8F;
  }
  